/**
 * CSS for jQuery Plugin Fast Facts
 */

.subtitle {
	font-size: 50%;
	vertical-align: middle;
}

.fast-facts-problem {
	border-bottom: 1px solid #000;
	font-size: 110%;
	margin: 0 auto 40px;
	max-width: 40px;
	text-align: right;
}

.fast-facts-operator {
	float: left;
}

#name {
	border-bottom: 2px solid black;
	width: 200px;
	padding-top: 25px;
	text-indent: -50px;
}
