/**
 * CSS for jQuery Plugin Fast Facts
 */

h1 {
	box-shadow: inset -13px 38px 0 0 white, inset -350px 0 0 -85px black;
}

.subtitle {
	font-size: 50%;
	vertical-align: middle;
}

.fast-facts-problem {
	border-bottom: 1px solid #000;
	font-size: 110%;
	margin: 0 auto 40px;
	max-width: 40px;
	text-align: right;
}

.fast-facts-operator {
	float: left;
}
