/**
 * CSS for jQuery Plugin Fast Facts
 */

.subtitle {
	font-size: 50%;
	vertical-align: middle;
}

.fast-facts-problem {
	border-bottom: 1px solid #000;
	font-size: 110%;
	margin: 0 auto 40px;
	max-width: 40px;
	text-align: right;
}

.fast-facts-operator {
	float: left;
}

#name{
	top: 5px;
	right: 5px;
}

.line{
	border: 0;
	outline: 0;
	background: transparent;
	border-bottom: 2px solid black;
	width: 200px;
}